@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/satoshi');
@import "tailwindcss";

@theme {
  --font-satoshi: "Satoshi", sans-serif;
  --font-inter: "Inter", "sans-serif";
}

body, html {
  font-family: 'Satoshi', 'Inter', Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 13px;
  border-radius: 115.27px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #002f6c86;
  border-radius: 115.27px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #19487e;
  border-radius: 115.27px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #387ecf;
}

/* Firefox support */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4891E7 #002f6c86;
}

